{% extends "auth/base.html" %}
{% load staticfiles %}
{% block title %}重置密码完成{% endblock %}
{% block content %}
<form action="" method="post" id="resetPasswordComplete">
  <div class="sendBlockHome" id="registerComplete">
      <h3>重置密码完成</h3>
      <p><span>10</span>秒后将自动跳转至登录页</p>
      <a href="/login">立即跳转</a>
  </div>
</form>
<script>
    var counter = 10;
    var interval = setInterval(function () {
        counter--;
        $("#resetPasswordComplete").find("p span").text(counter);
        if (counter == 0) {
            clearInterval(interval);
            location.href = "/login"
        }
    }, 1000);
</script>
{% endblock %}
