<html>
  <head>
    <title>激活邮件</title>
  </head>
  <body>
    <div style="overflow: hidden;">
      <div style="display: block; font-family: 'Microsoft Yahei'; min-width: 640px;">
        <div style="padding: 45px 6%; background-color: #f4f6f6;">
          <table style="width: 100%" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
            <tr>
              <td colspan="2">
                <p style="padding: 105px 0 15px 0; font-size: 36px; color: #333333; line-height: 54px; margin: 0; text-align: center; background-image: url(mail_decoration.png); height: 97px; background-position: right top; background-repeat: no-repeat;">
                  你好！欢迎使用<span style="color: #27a8f5;">Cloud</span><span style="color: #5eaa3a;">In</span><br>云英，做云时代的云
                </p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p style="padding: 10px 66px; font-size: 18px; color: #333333; line-height: 28px; word-break: break-all;">请点击此链接重置您的密码：<a href="{{ reset_password_link }}" style="color: #096ba8; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #096ba8; font-weight: light;">{{ reset_password_link }}</a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p style="width: 100%; height: 40px; border-bottom: 1px solid #b5b5b5;"></p>
              </td>
            </tr>
            <tr>
              <td>
                <a href="www.cloudin.cn" style="padding-left: 66px; text-decoration: none; color: #27a8f5; font-size: 18px;">cloudin官网</a>
              </td>
              <td>
                <p style="padding-right: 66px; text-align: right; color: #27a8f5; font-size: 18px;">
                  <span style="color: #c0c1c2">/</span> <a href="console.cloudin.cn/help" style="text-decoration: none; color: #27a8f5;">用户指南</a> <span style="color: #c0c1c2">/</span> <a href="www.cloudin.cn/product.html" style="color: #27a8f5; text-decoration: none;">产品</a> <span style="color: #c0c1c2">/</span> <a href="www.cloudin.cn/about.html" style="color: #27a8f5; text-decoration: none;">关于</a>
                </p>
              </td>
             </tr>
          </table>
        </div>
        <div style="padding: 250px 0 45px 0; background-color: #f4f6f6">
          <table style="width: 100%" cellspacing="0" cellpadding="0">
            <tr>
              <td>
                <p style="text-align: center; font-size: 18px; color: #8a8a8a;">
                  如果您在激活帐户或使用过程中有任何问题，请联系<a mailto="contact@cloudin.ren" style="color: #27a8f5;">contact@cloudin.ren</a>技术团队
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>