{% extends "auth/base.html" %}
{% block title %}重置密码{% endblock %}
{% block content %}
    <div id="registerDone" class="sendBlockHome">
        <h3>邮件已发送</h3>

        <p>邮件已发送到邮箱{{ email }}, 请在24小时内点击邮件中的链接重置密码。</p>
        {% comment %}
        <a target="_blank" href="{{ email_link }}">立即查看邮件</a>
        {% endcomment %}
    </div>
    <hr/>
    <div  class="haventGotMsg">
        <h3>如果没有收到邮件，可以尝试：</h3>

        <form action="" method="post">
        {% csrf_token %}
        <p>1.&nbsp;&nbsp;进入您的邮箱查看邮件是否在垃圾箱中, </p>

        <p>2.&nbsp;&nbsp;<button  class="resendMailBtn" type="submit">【重发】</button>点击此处重发邮件。</p>
        {% if messages %}
            {% for message in messages %}
              <i class="tips">{{ message }}</i>
            {% endfor %}
        {% endif %}
        </form>
    </div>
{% endblock %}
