{% extends "base.html" %}

{% load translate %}

{% block title %}计算资源池管理{% endblock %}

{% block crumbs %} {% endblock %}
{% block page %} 计算资源池管理 {% endblock %}

{% block content %}
<div class="table-controller-field">
    <a href="/admin/sourceManage/computeSourceCreate" class="btn btn-info table-controller icon-add" id="create_compute">创建池</a>
    <a href="javascript:;" data-href="/admin/sourceManage/computeSourceEdit"  class="btn btn-info table-controller icon-edit" id="edit_compute" disabled>修改池</a>
    <button  class="btn btn-info table-controller icon-rublish" id="delete_compute" disabled>删除池</button>
    <button class="btn btn-default table-controller refresh icon-refresh" title="刷新" id="refresh">刷新</button>
    </div>
<div class="pull-top-table">
    <table id="pools_compute_list" class="table table-striped table-bordered">
        <thead>
        <th>名称</th>
        <th>宿主机台数</th>
        <th>CPU利用率</th>
        <th>内存利用率</th>
        <!--<th>云主机台数</th>-->
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- Delete -->
<div class="modal" id="delete_compute_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">删除集群</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center">确认删除该集群？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="delete_compute_btn">确认</button>
            </div>
        </div>
    </div>
</div>
{% endblock%}