{% extends "base.html" %}

{% load translate %}

{% block title %}计算资源池管理{% endblock %}

{% block crumbs %} {% endblock %}
{% block page %} 存储资源池编辑 {% endblock %}

{% block content %}
<div class="box">
    <div class="box-list noEmpty">
        <label class="box-list-label">
            <span>*</span>名称:
        </label>
        <div class="box-list-input">
            <input type="text" class="box-from-input" id="name">
            <i class="box-list-error"></i>
        </div>
    </div>
    <div class="box-list noEmpty">
        <label class="box-list-label">
            存储类型:
        </label>
        <div class="box-list-input">
            <div class="box-list-content" id="type"></div>
        </div>
    </div>
    <div class="box-list noEmpty">
        <label class="box-list-label">
            单台设备容量:
        </label>
        <div class="box-list-input">
            <div class="box-list-content" id="odd_count"></div>
        </div>
    </div>
    <div class="box-list noEmpty">
        <label class="box-list-label">
            <span>*</span>设备数量:
        </label>
        <div class="box-list-input" id="osd_number">

        </div>
    </div>
    <div class="box-list noEmpty">
        <label class="box-list-label">
            存储池容量:
        </label>
        <div class="box-list-input">
            <div class="box-list-content" id="count" style="display: inline-block;"></div>
            <i class="box-list-error">为保证高可用，修改后的存储池容量不能小于已用容量的125%。</i>
        </div>
    </div>
    <div class="box-list noEmpty">
        <label class="box-list-label">
            已用容量:
        </label>
        <div class="box-list-input">
            <div class="box-list-content" id="used"></div>
        </div>
    </div>
    <div class="box-buttons">
        <input type="button" value="修改" class="box-button" id="edit_memory">
    </div>
</div>
{% endblock%}