{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>portal--租户</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/rewrite.css" %}" />
    <link rel="icon" href="{% static "favicon.ico" %}">
</head>
<body>
<!-- 头部公用 -->
<header id="header" class="no-print">
</header>
<section id="bodyContain">
    <!-- 左侧目录通用 -->
    <aside id="aside" class="no-print"></aside>
    <!-- 右侧通用容器 -->
    <section id="content">

    </section>
</section>
</body>
<script type="text/javascript" src="{% static "js/extends/jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "public/build/portalAdmin.js" %}"></script>
</html>