{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>金融云-控制台</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/screen.css" %}" />
    <link rel="icon" href="{% static "favicon.ico" %}">

</head>
<body>
<div id='content'>
  
</div>
<script type="text/javascript" src="{% static "external/react/0.14/react.js" %}"></script>
<script type="text/javascript" src="{% static "external/react/0.14/react-dom.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extends/jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "public/build/screen.js" %}"></script>
</body>
</html>
