<!-- {% load staticfiles %} -->
<html>
  <head>
    <title>邮箱验证邮件</title>
    <meta charset="UTF-8" />
  </head>
  <body style="margin: 0; padding: 0;">
    <div style="overflow: hidden;">
      <div style="display: block; font-family: 'Microsoft Yahei'; min-width: 640px;">
        <div style="padding: 45px 6%; background-color: #f4f6f6;">
          <table style="width: 100%; background: url(https://console.cloudin.cn/static/images/mail_decoration.png); background-repeat: no-repeat; background-position: right top; background-color: #ffffff;"  cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="2">
                <p style="padding: 60px 0 0; font-size: 24px; color: #333333; line-height: 54px; margin: 0; text-align: center;">
                  告警通知
                </p>
                <!--<p style="padding: 60px 0 15px; font-size: 24px; color: #333333; line-height: 54px; margin: 0; text-align: center;">-->
                  <!--恢复通知-->
                <!--</p>-->
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p style="padding: 5px 7.5% 5px; margin: 0; font-size: 18px; color: #3894ce; line-height: 28px; word-break: break-all;">告警概述:</p>
                <!--<p style="padding: 5px 66px 5px; font-size: 18px; color: #3894ce; line-height: 28px; word-break: break-all;">恢复告警概述:</p>-->
                <table style="width: 85%; margin: 5px 7.5%; font-size: 16px; font-weight: lighter; text-align: center; line-height: 28px; word-break: break-all;" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                  <tr style="background-color: #3892d1; height: 55px; color: #ffffff;">
                    <th style="font-weight: lighter;">资源</th>
                    <th style="font-weight: lighter;">监控项</th>
                    <th style="font-weight: lighter;">采集值</th>
                    <th style="font-weight: lighter;">告警时间</th>
                  </tr>
                  <tr>
                    <td><p style="padding: 8px 0; border-left: 1px solid #dcdcdc; margin: 0; border-bottom: 1px solid #dcdcdc;">i-shj2p9cz</p></td>
                    <td><p style="padding: 8px 0; margin: 0; border-bottom: 1px solid #dcdcdc;">cpu_util</p></td>
                    <td><p style="padding: 8px 0; margin: 0; border-bottom: 1px solid #dcdcdc;">80</p></td>
                    <td><p style="padding: 8px 0; border-right: 1px solid #dcdcdc; margin: 0; border-bottom: 1px solid #dcdcdc;">2016-01-23 05:45:32</p></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <!--<p style="padding: 20px 66px 5px; height: 40px; font-size: 22px; text-align: right; margin: 0;"><a href="#" style="color: #ff8a00; text-decoration: none; ">立即处理></a></p>-->
                <p style="padding: 20px 66px 5px; font-size: 20px; text-align: right; margin: 0;"><a href="#" style="color: #3894ce; text-decoration: none; padding-right: 43px;">立即查看></a></p>
                <p style="padding: 0 66px 5px; text-align: right; font-size: 12px; color: #999999; margin: 0;">恢复正常后，我们会及时通知您。</p>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <p style="margin: 20px 66px 5px; height: 80px; border-bottom: 1px dashed #b5b5b5;"></p>
              </td>
            </tr>
            <tr>
              <td style="padding: 10px 0;">
                <a href="www.cloudin.cn" style="padding-left: 66px; text-decoration: none; color: #27a8f5; font-size: 14px;">cloudin官网</a>
              </td>
              <td style="padding: 30px 0;">
                <p style="padding-right: 66px; text-align: right; color: #27a8f5; font-size: 14px;">
                  <span style="color: #c0c1c2">/</span> <a href="console.cloudin.cn/help" style="text-decoration: none; color: #27a8f5;">用户指南</a>
                    <span style="color: #c0c1c2">/</span> <a href="www.cloudin.cn/product.html" style="color: #27a8f5; text-decoration: none;">产品</a>
                    <span style="color: #c0c1c2">/</span> <a href="www.cloudin.cn/about.html" style="color: #27a8f5; text-decoration: none;">关于</a>
                </p>
              </td>
             </tr>
          </table>
        </div>
        <div style="padding: 50px 0 45px 0; background-color: #f4f6f6">
          <table style="padding: 0 6%; width: 100%;" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3">
                <p style="height: 20px; padding: 20px 66px 0; margin: 0;">
                  <img src="logo_grey.png" />
                  <span style="color: #656766; font-size: 14px;">做云时代的云</span>
                </p>
                <p style="padding: 3px 66px; margin: 0; color: #8a8a8a; font-size: 14px;">如果您有任何问题，请联系技术团队</p>
              </td>
            </tr>
            <tr>
              <td><p style="padding: 10px 66px; margin: 0; color: #8a8a8a; min-width: 180px; display: inline-block;"><img src="tel.png" width="28px;" />＋86 400-666-9160</p>
              <p style="padding: 10px 66px; margin: 0; color: #8a8a8a; min-width: 140px; display: inline-block; "><img src="qq.png" width="28px;" /><a target="_blank" style="color: #8a8a8a; padding: 0 5px; text-decoration: none;" href="http://wpa.qq.com/msgrd?v=3&uin=3163787923&site=cloudin&menu=yes">在线咨询</a></p>
              <p style="padding: 10px 66px; margin: 0; color: #8a8a8a; min-width: 140px; display: inline-block; "><img src="mail.png" width="28px;" /><a href="mailto:contact@cloudin.ren" style="color: #8a8a8a; padding: 0 5px; text-decoration: none;">邮件咨询</a></p></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
