{% extends "account/account_base.html" %}
{% block title %}找回密码{% endblock %}
{% block form %}
    <div class="page-header">
        <h1>Cloudin
            <small>找回密码</small>
        </h1>
    </div>
    <div id="registerDone">
        <h3 style="color: #00A000">邮件已发送</h3>

        <p>邮件已发送到邮箱{{ email }}, 请再24小时内点击邮件中的链接重置密码。</p>
        <a target="_blank" href="{{ email_link }}">立即查看邮件</a>
    </div>
    <hr/>
    <div id="retryReset">
        <h3>如果没有收到邮件，可以尝试：</h3>

        <form action="" method="post">
        {% csrf_token %}
        <p>进入您的邮箱查看邮件是否在垃圾箱中, </p>

        <p><button class="btn btn-info" type="submit">【重发】</button>点击此处重发邮件。</p>
        </form>
    </div>
{% endblock %}
