   {% extends "account/account_base.html" %}

   {% block title %}找回密码{% endblock %}

   {% block form %}
   <form class="form-signin" action="{{ BASE_URL }}/password/reset" method="post">
     {% csrf_token %}
     <h2 class="form-reset-password-heading">找回密码</h2>
     <label for="inputEmail" class="sr-only">邮箱</label>
     <div class="form-group">
       <input type="text" id="inputEmail" class="form-control" name="email" placeholder="邮箱" required>
       <span class="text-danger"></span>
     </div>
     <div class="form-group">
       <input type="text" id="inputCaptchaValue" class="form-control col-sm-6" name="captcha_value"
            placeholder="图片验证码" required>
       <img class="refresh-captcha" src="{{ new_captcha_image }}" style="width: 80px; height: 43px; "/>
       <i class="glyphicon glyphicon-refresh refresh-captcha"></i>
     </div>
     <span class="text-danger"></span>
     <div class="form-group">
       <input type="hidden" name="captcha_key" value="{{ new_captcha_key }}">
       <button class="btn btn-lg btn-info btn-block" type="submit" disabled>下一步</button>
     </div>
   </form>
   <script>
        var CheckEmailUrl = "{{ BASE_URL }}/email/check";
        var CheckCaptchaUrl = "/captcha/check";

        var getCookie = function(c_name)
        {
            if (document.cookie.length>0)
            {
                c_start=document.cookie.indexOf(c_name + "=");
                if (c_start!=-1)
                {
                    c_start=c_start + c_name.length+1;
                    c_end=document.cookie.indexOf(";",c_start);
                    if (c_end==-1) c_end=document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end))
                }
            }
            return ""
        };

        $(".refresh-captcha").click(function(){
            $.get("/captcha/load", {}, function(data){
               $("img.refresh-captcha").attr("src", data.new_captcha_image)
               $("input[name='captcha_key']").val(data.new_captcha_key)
               $("input[name='captcha_value']").change();
            }.bind(this))
        })

        $("i.refresh-captcha").click(function(){
           $("img.refresh-captcha").click();
        })

        var check_captcha = function(){
            $("input[name='captcha_value']").on("change keyup blur", function(){
               var captcha_value = $(this).val();
               var captcha_key = $("input[name='captcha_key']").val();
               var req_data = {"captcha_value": captcha_value, "captcha_key": captcha_key};
               $.ajax({
                   type: "post",
                   async: false,
                   cache: false,
                   url: CheckCaptchaUrl,
                   data: req_data,
                   beforeSend: function (xhr, settings) {
                       xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                   },
                   success: function(data) {
                       if(data.code == 1){
                           $(this).parent("div").addClass("has-error");
                           $(this).parent("div").next("span").text(data.msg);
                           $("button[type='submit']").prop("disabled", "disabled");
                       }else{
                           $(this).parent("div").removeClass("has-error");
                           $(this).parent("div").next("span").text("");
                           $("button[type='submit']").prop("disabled", "");
                       }
                   }.bind(this),
                   complete: function(XMLHttpRequest, textStatus) {

                   },
                   error: function(XHR, textStatus, errorThrown) {

                   }
               })
            })
        }

        $("input[name='email']").on("change keyup blur", function(){
           var email = $(this).val();
           var req_data = {"email": email};
           $.ajax({
               type: "post",
               async: false,
               cache: false,
               url: CheckEmailUrl,
               data: req_data,
               beforeSend: function (xhr, settings) {
                   xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
               },
               success: function(data) {
                   if(data.code == 1){
                       $(this).parent("div").addClass("has-error");
                       $(this).next("span").text(data.msg);
                       $("button[type='submit']").prop("disabled", "disabled");
                   }else{
                       $(this).parent("div").removeClass("has-error");
                       $(this).next("span").text("");
                       $("button[type='submit']").prop("disabled", "");
                       check_captcha();
                       $("input[name='captcha_value']").change();
                   }
               }.bind(this),
               complete: function(XMLHttpRequest, textStatus) {

               },
               error: function(XHR, textStatus, errorThrown) {

               }
           })
        })


   </script>
   {% endblock %}